.navbar {
	width: 100%;
	height: $regular-height;
	background-color: $background;
	position: fixed;
	display: flex;
	justify-content: center;

	&__icon {
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translate(-50%, -50%);
		background: no-repeat;
		border: none;
		& span {
			position: relative;
			top: 0px;
			display: block;
			background: $hamburguer-color;
			width: 25px;
			height: 3px;
			margin: 5px 0px;
			cursor: pointer;
			transition: transform $transition-time linear, top $hamburguer-animation;
		}
		&.active span:nth-child(1) {
			top: 8px;
			transform: rotate(45deg);
			transition: top $transition-time linear, transform $hamburguer-animation;
		}
		&.active span:nth-child(2) {
			opacity: 0;
			transition: top $hamburguer-animation;
		}
		&.active span:nth-child(3) {
			top: -8px;
			transform: rotate(-45deg);
			transition: top $transition-time linear, transform $hamburguer-animation;
		}
		@include large {
			display: none;
		}
	}
	&__background {
		height: 100vh;
		background: $shadow;
		@include large {
			background: unset;
		}
	}
	&__list {
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 90%;
		height: 100vh;
		top: $regular-height;
		background-color: $list-bg;
		box-shadow: $box-shadow;
		left: -95%;
		transition: left $navbar-animation;

		@include medium {
			left: -45%;
			width: 40%;
		}
		@include large {
			overflow-y: unset;
			flex-direction: row-reverse;
			height: $regular-height;
			width: 100%;
			left: 0;
			top: 0;
			background: transparent;
			position: relative;
			box-shadow: unset;
		}
		&--active {
			left: 0;
		}
		&-container {
			@include large {
				display: flex;
			}
		}
	}
	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 50px;
		align-items: center;
		width: 100%;
		height: auto;
		background: $link-box;
		transition: background $navbar-animation;
		&:hover {
			background: $link-hover;
		}
		@include large {
			padding: 0 20px;
			height: $regular-height;
			width: auto;
			left: 0;
			top: 0;
			background: transparent;
		}
	}
	&__dropdown {
		display: flex;
		flex-direction: column;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: height $navbar-animation;
		@include large {
			position: absolute;
			background: $list-bg;
			top: $regular-height;
			height: 15vh;
			overflow-y: auto;
			box-shadow: $box-shadow;
		}
		&--collapsed {
			height: 0;
		}
	}
}
